
#title{

  font-family: 'Montserrat', sans-serif;
}

h1{
 font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem ;
  line-height: 1;

} 
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  line-height: 3.5rem;
}
h3{
  font-family:'Montserrat', sans-serif;
  font-size: 2rem;
}
p{
  color: grey;
  text-align: center;
}




/* navbar*/
.navbar{
    padding-top: 10px;
    padding-bottom: 10px;
    
  }
  .navnav{
    padding: 0px;
  }
  
  .navbar-brand{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
  }
  
  .nav-items{
    padding: 0 18px;
    color: teal;
  }
  
  .nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.2);
  }
  
  .w-100{
    max-width:100%;  
    height:750px;  
  }  
  .navbar-brand em {
    
    color: #f7c552;
    
  }
 
  /*corousel*/
  .testimonial-text{
    font-size: 3.5 rem;
    line-height: 1.5;
    text-align: center;
    padding-bottom: 400px;
    color: black;
  }
  .corousel-caption{
    font-size: 3rem;
    line-height: 1.5;
    text-align: center; 
  }

 #carouselExampleIndicators p{
    padding-bottom: 300px;
  }

  .white-section{
    background-color: white;
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;
  }

  
/*features*/
  #features{
    position: relative;
    z-index: 1;
  }
  
  .feature-box{
    padding: 5%;
    
  }
  
  .feature-title{
    padding-top: 10px;
    font-size: 1.5rem;
    text-align: center;
  }

  .feature-text{
    padding-top: 30px;
  }
  
  .icon-feature{
    color:#24262b;
    padding-bottom: 1.2rem;
    padding-left: 10px;
    width: 30%;
  }
  
  .icon-feature:hover{
    color:#ffd761;
  }

  #features p{
      text-align: center;
  }


  /* PROJECT */

.colored-section{
    background-color: rgba(0, 0, 0, 0.2);
    padding-bottom: 50px;
    overflow: hidden;
}

.project-img{
    width: 300px;
    height: 300px;
}
.project-row{
    padding-left: 30px;
    padding-right: 30px;
}

.project-h5{
    padding-top: 50px;
    padding-bottom: 20px;
  
  
}

.project-col:hover{
    background-color: #ffd761;
    transform: scale(0.98);
}

.project-col:hover .project-btn{
    background-color: #512D6D;
}

.project-details{
    padding-left: 20px;
    padding-bottom: 30px;
}
.cen{
    text-align: center;
    font-size: 40px;
    padding-bottom: 30px;
    padding-top: 30px;
}

#pricing h2{
  font-size: 100px;
}
.para{
padding-bottom: 20px;
}
  

#pricing{
  
  text-align: center;
}

.pricing-column{
  padding: 1% 1%;
}

.price-text{
  line-height: 1.5;
  font-size: 3rem;
}
.rounded-lg {
  border-radius: 1rem !important;
}

.text-small {
  font-size: 0.9rem !important;
}

.custom-separator {
  width: 5rem;
  height: 6px;
  border-radius: 1rem;
}

.text-uppercase {
  letter-spacing: 0.2em;
}

.section-heading{
  text-align: center;
  color: #020b11;
  font-weight: bold;
  font-size: 4rem;
  padding-bottom: 10px;
 
}

body {
  
 
  color: #514B64;
  min-height: 100vh;
}




/*video project*/

.video-project{
    background-color:darkgray;
    overflow: hidden;
  }

.video-h1{
    color: #0f0909;
}

.video{
    width:900px;
    padding-left: 20px;
    padding-right: 80px ;
}

.video-con{
    padding-left: 200px;
    margin-top: 0;
    padding-bottom: 50px;
}

.video_title{
    font-size: large;
    padding-left: 10px;
    color: #130808;
    
}
.u{
  padding-right: 200px;
  padding-left: 200px;
}
.carousel-control-next{
  padding-right: 150px;
}

.carousel-control-prev{
  padding-right: 150px;
}

/*team*/

.firm-team {
  width: 60%;
  margin: auto;
}
.firm-team h5 {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.5rem;
  
}
.profile {
  text-align: center;
  position: relative;
}



.profile-img {
  width: 10rem;
  border-radius: 8rem;
  position: relative;
}

.overlay {
  position: absolute;
  background-color: rgb(74, 46, 117);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foroverlay {
  margin: auto;
  position: relative;
  width: 11rem;
  border-radius: 8rem;
}

.icon {
  color: white;
  font-size: 2.5rem;
}

.foroverlay:hover .overlay {
  opacity: 0.9;
}

/*contact*/
contact {
  width: 100%;
}

.contactusform {
  width: 100%;
  border: 10px solid red;
}

/*footer*/
footer {
  width: 100%;
  background-color:rgba(2, 41, 59, 0.945);
}
.social-links a{
display: inline-block;
height: 40px;
width: 40px;
background-color: rgba(255,255,255,0.2);
margin:0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;

transition: all 0.5s ease;
}
.footer-col{
  width: 25%;
  padding: 0 40px;
}

.footer-col ul li a{
font-size: 16px;
text-transform: capitalize;
color: #ffffff;
text-decoration: none;
font-weight: 300;
color: #bbbbbb;
display: block;
transition: all 0.3s ease;
padding: 0 40px;
}

.footer-col ul li a:hover{
color: #ffffff;
padding-left: 8px;
}
.social-links a:hover{
color: #24262b;
background-color: #1b1919;
}
/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.footer-content {
  width: 60%;
  margin: auto;
}
